<a href="https://colab.research.google.com/github/Titophilip/delivery_data/blob/main/Delivery_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [46]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Delivery_dataset.csv")

In [47]:
df.head()

,S/N,Warehouse,Order date,Delivery date,Order Month,Month Year,Season,1st vs 2nd Order Interval (Days),Interval Categories,Delivery Time (Days),Customer,Zipcode
0,2596,Butler,12/30/2021 23:50,1/4/2022 15:28,Dec,Dec 2021,Winter,83,Within 3 months,5,163,15226
1,3994,Pittsburgh Mills,3/28/2022 21:27,3/31/2022 14:21,Mar,Mar 2022,Spring,4,NaN,3,163,15226
2,4140,McKees Rocks,4/4/2022 22:52,4/6/2022 15:47,Apr,Apr 2022,Spring,43,NaN,2,163,15226
3,5088,Beaver,5/19/2022 9:00,5/24/2022 11:25,May,May 2022,Spring,NaN,NaN,5,163,15226
4,5161,Washington,5/21/2022 16:01,5/24/2022 11:27,May,May 2022,Spring,NaN,NaN,3,163,15226

In [48]:
df["Order Month"] = df["Order Month"].astype("category")
df["Order Month"] = df["Order Month"].cat.set_categories(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], ordered=True)

In [49]:
df["Month Year"] = df["Month Year"].astype("category")
df["Month Year"] = df["Month Year"].cat.set_categories(["Feb 2021", "Mar 2021", "Apr 2021", "May 2021", "Jun 2021", "Jul 2021", "Aug 2021", "Sep 2021", "Oct 2021", "Nov 2021", "Dec 2021", "Jan 2022", "Feb 2022", "Mar 2022", "Apr 2022", "May 2022", "Jun 2022", "Jul 2022", "Aug 2022", "Sep 2022", "Oct 2022", "Nov 2022"], ordered=True)

In [40]:
# orders_zipcode_month = df.groupby(["Zipcode", "Order Month"]).count()['Customer'].unstack()
# orders_zipcode_month
# orders_zipcode_month.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_month.csv")

In [44]:
# orders_zipcode_month_year = df.groupby(["Zipcode", "Month Year"]).count()['Customer'].unstack()
# orders_zipcode_month_year
# orders_zipcode_month_year.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_month_year.csv")

In [45]:
# returning_customers = df["Interval Categories"].value_counts(normalize = True).reset_index()
# returning_customers.rename(columns = {"Interval Categories": "Proportion Returned", "index": "Interval Categories"}, inplace = True)
# returning_customers.to_csv("/content/drive/MyDrive/Colab Notebooks/returning_customers.csv")

In [66]:
delivery_speed_zipcode = df.groupby(["Zipcode"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values(by = "mean").reset_index()
delivery_speed_zipcode.columns = ["Zipcode", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_zipcode
delivery_speed_zipcode.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_zipcode.csv")

In [86]:
delivery_speed_zipcode_month = df.groupby(["Zipcode", "Order Month"]).mean()['Delivery Time (Days)'].unstack()
delivery_speed_zipcode_month
delivery_speed_zipcode_month.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_zipcode_month.csv")

In [87]:
delivery_speed_zipcode_month_year = df.groupby(["Zipcode", "Month Year"]).mean()['Delivery Time (Days)'].unstack()
delivery_speed_zipcode_month_year
delivery_speed_zipcode_month_year.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_zipcode_month_year.csv")

In [85]:
orders_zipcode_warehouse = df.groupby(["Zipcode", "Warehouse"]).count()['Customer'].sort_values()
orders_zipcode_warehouse
orders_zipcode_warehouse.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_warehouse.csv")

In [88]:
delivery_speed_season = df.groupby(["Season"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values("mean").reset_index()
delivery_speed_season.columns = ["Season", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_season
delivery_speed_season.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_season.csv")

In [89]:
delivery_speed_warehouse = df.groupby(["Warehouse"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values("mean").reset_index()
delivery_speed_warehouse.columns = ["Warehouse", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_warehouse
delivery_speed_warehouse.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_warehouse.csv")