<a href="https://colab.research.google.com/github/Titophilip/delivery_data/blob/main/Delivery_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [46]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Delivery_dataset.csv")

In [47]:
df.head()

,S/N,Warehouse,Order date,Delivery date,Order Month,Month Year,Season,1st vs 2nd Order Interval (Days),Interval Categories,Delivery Time (Days),Customer,Zipcode
0,2596,Butler,12/30/2021 23:50,1/4/2022 15:28,Dec,Dec 2021,Winter,83,Within 3 months,5,163,15226
1,3994,Pittsburgh Mills,3/28/2022 21:27,3/31/2022 14:21,Mar,Mar 2022,Spring,4,NaN,3,163,15226
2,4140,McKees Rocks,4/4/2022 22:52,4/6/2022 15:47,Apr,Apr 2022,Spring,43,NaN,2,163,15226
3,5088,Beaver,5/19/2022 9:00,5/24/2022 11:25,May,May 2022,Spring,NaN,NaN,5,163,15226
4,5161,Washington,5/21/2022 16:01,5/24/2022 11:27,May,May 2022,Spring,NaN,NaN,3,163,15226

In [48]:
df["Order Month"] = df["Order Month"].astype("category")
df["Order Month"] = df["Order Month"].cat.set_categories(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], ordered=True)

In [49]:
df["Month Year"] = df["Month Year"].astype("category")
df["Month Year"] = df["Month Year"].cat.set_categories(["Feb 2021", "Mar 2021", "Apr 2021", "May 2021", "Jun 2021", "Jul 2021", "Aug 2021", "Sep 2021", "Oct 2021", "Nov 2021", "Dec 2021", "Jan 2022", "Feb 2022", "Mar 2022", "Apr 2022", "May 2022", "Jun 2022", "Jul 2022", "Aug 2022", "Sep 2022", "Oct 2022", "Nov 2022"], ordered=True)

In [40]:
# orders_zipcode_month = df.groupby(["Zipcode", "Order Month"]).count()['Customer'].unstack()
# orders_zipcode_month
# orders_zipcode_month.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_month.csv")

In [44]:
# orders_zipcode_month_year = df.groupby(["Zipcode", "Month Year"]).count()['Customer'].unstack()
# orders_zipcode_month_year
# orders_zipcode_month_year.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_month_year.csv")

In [45]:
# returning_customers = df["Interval Categories"].value_counts(normalize = True).reset_index()
# returning_customers.rename(columns = {"Interval Categories": "Proportion Returned", "index": "Interval Categories"}, inplace = True)
# returning_customers.to_csv("/content/drive/MyDrive/Colab Notebooks/returning_customers.csv")

In [66]:
delivery_speed_zipcode = df.groupby(["Zipcode"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values(by = "mean").reset_index()
delivery_speed_zipcode.columns = ["Zipcode", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_zipcode
delivery_speed_zipcode.to_csv("/content/drive/MyDrive/Colab Notebooks/delivery_speed_zipcode.csv")

In [69]:
delivery_speed_zipcode_month = df.groupby(["Zipcode", "Order Month"]).mean()['Delivery Time (Days)'].unstack()
delivery_speed_zipcode_month

Order Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Zipcode,,,,,,,,,,,,
15007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
15010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.00,NaN,NaN
15017,2.857143,2.461538,2.428571,2.391304,2.904762,2.151515,2.619048,2.111111,2.800000,2.75,1.0,1.75
15031,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
15035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
44509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500000,NaN,NaN,NaN
44511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,9.00,NaN,NaN
44512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,12.25,1.5,NaN
44514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,6.00,1.0,NaN
44515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.285714,1.25,0.0,NaN

In [70]:
delivery_speed_zipcode_month_year = df.groupby(["Zipcode", "Month Year"]).mean()['Delivery Time (Days)'].unstack()
delivery_speed_zipcode_month_year

Month Year,Feb 2021,Mar 2021,Apr 2021,May 2021,Jun 2021,Jul 2021,Aug 2021,Sep 2021,Oct 2021,Nov 2021,...,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022,Oct 2022,Nov 2022
Zipcode,,,,,,,,,,,,,,,,,,,,,
15007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
15010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.00,NaN
15017,1.625,1.25,1.833333,2.0,1.357143,1.8,1.666667,2.0,2.0,NaN,...,2.833333,2.705882,2.588235,3.055556,2.736842,2.875,2.2,3.333333,2.90,1.0
15031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000,NaN,NaN,NaN,NaN
15035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.500000,NaN,NaN
44511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,9.00,NaN
44512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.750000,12.25,1.5
44514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,6.00,1.0
44515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.285714,1.25,0.0

In [85]:
orders_zipcode_warehouse = df.groupby(["Zipcode", "Warehouse"]).count()['Customer'].sort_values()
orders_zipcode_warehouse
orders_zipcode_warehouse.to_csv("/content/drive/MyDrive/Colab Notebooks/orders_zipcode_warehouse.csv")

In [80]:
delivery_speed_season = df.groupby(["Season"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values("mean").reset_index()
delivery_speed_season.columns = ["Season", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_season

   Season  Number of Deliveries  Average Delivery Time (Days)
0  Spring                  2113                      2.850450
1  Autumn                  3015                      3.234494
2  Summer                  3297                      3.283591
3  Winter                  1055                      3.484360

In [79]:
delivery_speed_warehouse = df.groupby(["Warehouse"]).agg({"count", "mean"})['Delivery Time (Days)'].sort_values("mean").reset_index()
delivery_speed_warehouse.columns = ["Warehouse", "Number of Deliveries", "Average Delivery Time (Days)"]
delivery_speed_warehouse

             Warehouse  Number of Deliveries  Average Delivery Time (Days)
0         McKees Rocks                  1169                      2.573139
1   Washington Big Box                   168                      2.630952
2           Washington                  2589                      2.827346
3             BD to MR                     1                      3.000000
4         Mckees Rocks                   115                      3.034783
5     Pittsburgh Mills                  1911                      3.141287
6               Butler                  2165                      3.346420
7             Robinson                    39                      3.538462
8         Beaver Falls                   129                      3.674419
9             Boardman                   118                      3.822034
10              Beaver                   967                      4.177870
11              Warren                    56                      4.857143
12               Akron                    51                      6.274510
13         Current Ura                     1                     41.000000
14       Current Katya                     1                    171.000000